* {
  padding: 0;
  margin: 0 auto;
  font-family: 'Fuzzy Bubbles', cursive;
}

button {
  height: 100%;
  border: none;
  border-radius: 3px;
  outline: none;
  background: #E05893;
  color: #6A5ACD;
  cursor: pointer;
}

.wrapper {
  /* margin: 120px auto; */
  max-width: 90%;
  width: 100%;
  border-radius: 5px;
  background: #6A5ACD;
  padding: 12.5px;
  display: flex;
  /* justify-content: space-between; */
}

header {
  text-align: center;
  /* color: white; */
  font-size: 30px;
  font-weight: 600;
}

.todoInput {
  display: flex;
  height: 45px;
  width: 100%;
  margin: 20px 0;
}

input {
  width: 100%;
  height: 100%;
  border: 1px solid #F77354;
  font-size: 17px;
  border-radius: 3px;
  padding-left: 15px;
}

select {
  width: 40%;
  height: 100%;
  border: 1px solid #F77354;
  font-size: 17px;
  border-radius: 3px;
  padding-left: 15px;
  margin-left: 5px;
}

.todoInput button {
  width: 45px;
  margin-left: 5px;
  font-size: 22px;
}

.categoryInput button {
  width: 45px;
  margin-left: 5px;
  font-size: 22px;
  height: 35px;
}

#hide {
  display: none;
}

.todoList li {
  list-style: none;
  height: 45px;
  line-height: 45px;
  position: relative;
  background: #F77354;
  margin-bottom: 8px;
  border-radius: 3px;
  padding-left: 15px;
  overflow: hidden;
  cursor: pointer;
}

.done {
  text-decoration: white wavy line-through;
}

.fa-trash {
  color: black;
  float: right;
  padding: 0.9375rem;
}

.todoList li span {
  position: absolute;
  right: -45px;
  width: 45px;
  color: white;
  text-align: center;
  background: white;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.todoList li:hover span {
  right: 0;
}

.footer {
  display: flex;
  color: white;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}

.pending {
  color: #F77354;
  border-bottom: 1px solid #F77354;
}

.footer button {
  font-size: 16px;
  padding: 6px 10px;
}

.wrapper {
  position: relative;
  animation-name: example;
  animation-duration: 2s;  
  animation-delay: .5s;
  animation-fill-mode: forwards;
}

.category-wrapper {
  display: flex;
  flex-direction: column;
  padding: 12.5px;
  color: white;
}

.categoryInput {
  display: flex;
  width: 100%
}

.categoryList {
  margin-top: 1rem;
}

.categoryList li {
  display: flex;
  align-items: center;
}

.categoryFilter {
  color: white;
  display: flex;
  padding: 1rem;
  font-size: 12px;
  text-align: center;
}

.categoryFilterContainer {
  display: flex;
}

.categoryFilterContainer label {
  margin-left: 1rem;
}

@keyframes example {
  from {top: 200px;}
  to {top: 0px;}
}