* {
  padding: 0;
  margin: 0 auto;
}

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    background-color: #e1e3ea;
    height: 100vh;
    font-family: sans-serif;
  }

  .app {
    width: 60%;
  }

