* {
    padding: 0;
    margin: 0 auto;
    font-family: 'Fuzzy Bubbles', cursive;
}

body {
    background-color: white;
    color: white;
}

h2{
    text-align: center;
}

header {
    text-align: center;
    /* color: white; */
    font-size: 30px;
    font-weight: 600;
    color: black;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}

main {
    background-color: #6A5ACD;
    height: auto;
    width: 70%;
    margin: auto;
    justify-content: space-between;
    position: relative;
    animation-name: example;
    animation-duration: 2s;  
    animation-delay: .5s;
    animation-fill-mode: forwards;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-container{
    display: flex;
    width: 100%;
    display: flex;
    height: fit-content;
    border-radius: 5px;
    padding: 12.5px;
}

section {
    width: 50%;
    margin: 2rem;
}


@keyframes example {
    from {top: 200px;}
    to {top: 0px;}
  }